* {
  box-sizing: border-box;
}
 html {
    font-size: 20px;
  }
img {
  display: block;
   max-width: 100%;
   border-radius: 33px;
}
body {
  min-width: 480px;
  min-height: 100vh;
  background: rgb(90, 89, 89);
}
.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

#wrap-slider { 
position: relative;
text-align: center;
top: 10px;
}

#slider-one nav{ 
width: 20%;
float: left;
}


.picture{ 
width: 500%;
line-height: 0;
}


#overflow{ 
width: 100%;
overflow: hidden;
}


nav img{ 
width: 100%;
}
.text-my{ 
width: 17%;
margin-top: 47px;
margin-bottom: 20px;
font-size: 1.2rem;
}

.button { 
cursor: pointer;
}

.slider input{ 
display: none;
}
.text-my {
color: #fff;
}

#dot-1:checked ~ #slider-one .picture{
margin-left: 0;
}

#dot-2:checked ~ #slider-one .picture{
margin-left: -100%;
}

#dot-3:checked ~ #slider-one .picture{
margin-left: -200%;
}

#dot-4:checked ~ #slider-one .picture{
margin-left: -300%;
}

#dot-5:checked ~ #slider-one .picture{
margin-left: -400%;
}

#slider-dots{ 
position: relative;
top: -30px;
left: 0;
margin-right: 0%;
margin-left: 90%;
width: 10%;
display: inline-block;
}

.button{ 
border-radius: 10px; 
display: inline-block; 
width: 15px;
height: 15px;
background: rgb(218, 208, 208);
margin-right: 7px;
}

.button:hover{ 
background: #259dec;
}

#dot-1:checked ~ #slider-dots label:nth-child(1),
#dot-2:checked ~ #slider-dots label:nth-child(2),
#dot-3:checked ~ #slider-dots label:nth-child(3),
#dot-4:checked ~ #slider-dots label:nth-child(4),
#dot-5:checked ~ #slider-dots label:nth-child(5){
background: #0c1fcc;

}

#slider-one .picture{ 
transition: all 1000ms cubic-bezier(0.870, 0.100, 0.175, 1.000);
}


